body, html {
    margin: 0;
    height: 100%;
}

/* รูปพื้นหลังแรก */
.parallax1 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlKkuGefs1hlyH7rNRsphepKxROUKB0qBhDQ&s");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* รูปพื้นหลังที่สอง */
.parallax2 {
    background-image: url("https://www.mangozero.com/wp-content/uploads/2020/03/10-background-for-zoom-007-800x450.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* ข้อความกลางรูป */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

/* กล่องสีดำตรงกลาง */
.content {
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
